html {
  color: #000;
  font-family: "Noto Sans", sans-serif;
}

header a {
  color: #b64c6e;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #d89fb0;
}

header a:hover {
  color: #d89fb0;
}

hr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e2e2e2;
}

.btn-ghost {
  border-style: solid;
  border-color: #b64c6e;
  border-width: 1px;
  background-color: #fff;
  color: #b64c6e;
}

.btn:hover {
  background-color: #e2e2e2;
  border-color: #b64c6e;
  color: #860927;
}

.footnote {
  color: #e2e2e2;
}

.font-jp {
  font-family: "Noto Sans Japanese", sans-serif;
}

@media only screen and (min-width: 60em) {

  ul {
    text-align: right;
  }

  header, section {
    text-align: left;
  }

}
