html {
  box-sizing: border-box;

  font-family: "Noto Sans Japanese", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

header a {
  color: #b64c6e;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #d89fb0;
}

hr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e2e2e2;
}

.button {
  border-style: solid;
  border-color: #b64c6e;
  border-width: 1px;
  background-color: #fff;
  color: #860927;
}
